.loading-cycle {
    position: relative;
    svg {
        z-index: 1;
        circle {
            fill: transparent;
        }
        .backgroundCircle {
            stroke: #f3f3f3;
        }
    }
    .bigText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        z-index: 2;
    }
}
